.addTodosForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.5rem;
    border: black 2px solid;
    border-radius: .5rem;
    overflow: hidden;
    background-color: #eee;
    font-weight: 900;

  
    @media only screen and (max-width: 768px) {
       flex-direction: column;
    }

    input {
        padding: 1.2rem;
        width: 70%;
        border: none;
        background-color: #eee;
        font-weight: 900;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

      
    }

    input:focus {
        outline: none;
    }

}

.addTodosForm-Links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;

    @media only screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem;
    }

    @media only screen and (min-width: 1500px) {
        width: 20%;
        margin: 1rem;
    }

    

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        cursor: pointer;
        &:nth-of-type(1){
            color: #0E6EB8;
        }
        &:nth-of-type(2){
            color: red;
        }
    }
}

