.todo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 1rem;

    & input[type=checkbox] {
        margin: 0rem 1rem 0rem 0rem;
    }


    & input[ispriority="1"] {
        background-color: gold;
        color: black;
    }

    & input[type=checkbox]:checked~input[type=text] {
        text-decoration: line-through;
        background-color: #0E6EB8;
        color: white;
    }
  
    & input[type=text] {
        width: 100%;
      padding: 1rem;  
      border: none;
      font-weight: 900;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: .5rem;

    }

    & button {
        padding: 1rem;
        border: none;
        cursor: pointer;
        outline: none;

        & i{
            font-size: 2rem 
        }
    }

    & button:nth-of-type(1) {
        & i{
            // color: rgb(224, 24, 24);
            color: green;
        }
    }

    & button:nth-of-type(2) {
        & i{
            color: #0E6EB8;
        }
    }

    & button:nth-of-type(3)[ispriority="1"] {
            color: gold;
    }

    @media only screen and (max-width: 768px) {
        & button { 
         padding: .4rem;
           & i{
             font-size: 1.7rem 
              }
          }
     }
}