
// OWN COMPONENTS STYLES

@import './styles/components/AddTodosForm.scss';
@import './styles/components/TodosList.scss';
@import './styles/components/Todo.scss';
@import './styles/components/SortingBar.scss';

@import './styles/base/reset.scss';

@import './styles/components/Rodal.scss';

//LIB COMPONENTS STYLES

// @import 'rodal/lib/rodal.css';
@import 'react-day-picker/lib/style.css';
