* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
   width: 75%;
   position: absolute;
   left: 50%;
   top: 10%; 
   transform: translateX(-50%);
    }


    @media only screen and (max-width: 1200px) {
        body {
            width: 75%;
        }
    }

    @media only screen and (max-width: 768px) {
        body {
            width: 100%;
        }
    }